.details-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f7f9fc;
}

.details-container.two-rows {
  flex-direction: row;
  flex-wrap: wrap;
}

.details-container.two-rows .report-text {
  width: 48%;
}

.details-container.single-column {
  flex-direction: column;
}

.details-container.single-column .report-text {
  width: 100%;
}

.details-container .report-text.inline {
  display: inline;
}

.details-container .report-text.block {
  display: flex;
  flex-direction: column;
}

.label-heading {
  font-size: 17px; 
  font-weight: 600;
}
