/* medicalReport.css */
.report-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f7f9fc;
}

.report-container {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.report-header {
  text-align: center;
  margin-bottom: 20px;
}

.report-title {
  font-size: 24px;
  font-weight: bold;
  color: #004085;
}

.report-section {
  margin-bottom: 20px;
}

.report-claimant-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #0056b3;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.report-claimant-details-title {
  position: absolute;
  top: -20px;
  left: 10px;
  background: #ffffff;
  padding: 0 5px;
  font-size: 18px;
  font-weight: bold;
  color: #0056b3;
}

.report-claimant-details .report-text {
  width: 48%;
  margin-bottom: 5px;
}

.report-subtitle {
  font-size: 18px;
  font-weight: bold;
  color: #224B5F;
  margin-bottom: 0px;
  border-bottom: 2px solid #004085;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.report-text {
  font-size: 14px;
  color: #333333;
  line-height: 1.6;
}

.report-download-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.report-download-button:hover {
  background-color: #0056b3;
}

.report-text strong {
  color: #224B5F;
}