.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #00364d; /* Customize loading color */
}

.error {
  color: #dc3545; /* Customize error color */
}