/* src/components/MultiStepForm/MultiStepForm.css */

* {
  font-family: 'Open Sans' !important;
}

.multi-step-form-container {
  background-color: #ffffff;
  padding: 30px;
  margin: 0 10%;
}

.form-header {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #224b5f;
}

.form-description {
  margin-bottom: 30px;
  font-size: 1.1em;
  color: #333;
  font-weight: 600;
}