.note-review-group {
    display: flex;
    align-items: flex-start;  /* Aligns items vertically at the start */
    margin-bottom: 20px;
  }
  
  .expert-review-container {
    position: relative;
    flex: 1;
  }
  
  .remove-note-btn {
    position: absolute;
    top: -10px; /* Adjust as needed */
    right: 0px; /* Adjust as needed */
    color: #dc3545;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
  }
  
  .remove-note-btn:hover {
    background-color: transparent;
  }
  
  .add-filename-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .add-filename-btn {
    color: #224B5F;
    font-weight: bold;
    border-radius: 25px;
    font-size: 16px;
    padding: 12px 30px;
    background-color: #D9D9D9;
  }

  .add-filename-btn:hover {
    color: #224B5F;
    background-color: #cacaca;
  }